/* movie header */

body {
    font-family: 'Roboto', sans-serif;
}

.con-header-M {
    height: 65vh;
    position: relative;
    padding: 0% !important;
}

.backdrop {
    width: auto;
    height: 100%;
    position: relative;
}

.backdrop-img {
    width: 100%;
    height: 150%;
    top: 0%;
    position: absolute;
}

.img-M {
    height: 100px;
    width: 200px;
}

.movie-header {
    height: 70%;
    width: 80%;
    color: #e3d1f3;
    z-index: 1;
    position: absolute;
    top: 25%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.dir-year {
    display: flex;
    float: left;
}

.year-M {
    margin-left: 50px;
}

.movie-name-M {
    font-size: 110px;
}

.director-M,
.year-M {
    font-size: 20px;
    font-weight: bolder;
}


/* .btn-play-M {
    height: 50px;
    width: 200px;
    background-color: darkgrey;
    margin-top: 15%;
    margin-bottom: 5%;
    border-radius: 20px;
    display: flex;
    padding: 10px;
    justify-content: space-around;
    text-align: center;
} */

.duration-M {
    margin: 0%;
    padding: 0%;
    position: absolute;
    right: 2%;
    bottom: 0%;
    font-size: 17px;
    font-weight: bold;
    color: #e3d1f3;
}


/*____movie header____*/


/* additional info  */

.con-additional-M {
    height: 33vh;
    background-image: linear-gradient( #292929bd, #292929);
    transition: all ease-in-out 500ms;
    z-index: 1;
}

.con-additional-M-height {
    height: 45vh;
}

.con-additional-M-height-large {
    height: 60vh;
}

.addit-info-M {
    width: 80%;
    height: 100%;
    margin: auto;
    margin-top: 1%;
}

.star-rating-M {
    width: 250px;
    height: 50px;
}

.inner-block {
    width: 50px;
    height: 100%;
    float: left;
}

.con-wave-M {
    height: 20vh;
    background-color: #9F36F1;
    position: relative;
}

.cast-M {
    width: 90%;
    height: 50px;
    display: flex;
    position: relative;
    transition: all ease-in-out 500ms;
}

.inner-cast_M {
    width: 90%;
    height: 100%;
    overflow: hidden;
    margin-left: 30px;
}

.cast-heigt {
    height: 110px;
}

.cast-heigt-large {
    height: 200px;
}

.cast-M h3,
.genres-text-M {
    margin-left: 45px;
    font-size: 17px;
    margin-top: 12px;
}

.lang-text-M {
    margin-left: 30px;
    font-size: 17px;
    margin-top: 12px;
}

.view-more-btn {
    width: 100px;
    height: 20px;
    position: absolute;
    bottom: 0%;
    right: -5%;
    text-align: center;
    cursor: pointer;
}

.view-more-btn p {
    opacity: 0.5;
}

.con-ganre-M,
.con-lang-M {
    margin-top: 12px;
    width: 90%;
    height: 39px;
    display: flex;
}


/* for the wave SVG */

.custom-shape-divider-top-1634556212 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1634556212 svg {
    position: relative;
    display: block;
    width: calc(122% + 1.3px);
    height: 136px;
}

.custom-shape-divider-top-1634556212 .shape-fill {
    fill: #292929;
}


/** For tablet devices **/

@media (min-width: 768px) and (max-width: 1023px) {
    .custom-shape-divider-top-1634556212 svg {
        width: calc(157% + 1.3px);
        height: 136px;
    }
}


/** For mobile devices **/

@media (max-width: 767px) {
    .custom-shape-divider-top-1634556212 svg {
        width: calc(100% + 1.3px);
        height: 45px;
    }
}


/*____for the wave SVG____*/

.synopsis {
    height: 15vh;
    background-color: #9F36F1;
    overflow: visible;
    position: relative;
    display: flex;
    justify-content: center;
}

.con-syn {
    height: 150%;
    width: 80%;
    margin: auto;
    margin-top: -5%;
    position: absolute;
}

.synopsis-text-M {
    font-size: 20px;
    color: #e3d1f3;
    text-align: center;
}


/*____additional info____*/


/* Header Styling */

.content {
    background-color: #292929;
}

.navbar {
    background-color: #292929;
    position: relative;
    padding-left: 80px;
    padding-right: 80px;
}

.collapse {
    position: relative;
    padding-left: 300px;
}

.logo {
    position: absolute;
    margin-left: -30px;
}

.search-bar {
    border-radius: 17px;
    height: 30px;
    border: 2px #9F36F1 solid;
    background-color: transparent;
}

.header-con {
    height: 600px;
    background-color: #9F36F1;
    position: relative;
}


/* Roccomended cards */

.card-body,
.img_con {
    background-color: #444343;
}

.movie-title {
    color: white;
    float: left;
}


/*____Roccomended cards____*/


/* Footer */

.footer {
    height: 40px;
    margin-top: 50px;
}

.footer h5 {
    font-family: source-sans-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    margin-left: 80px;
    margin-top: -25px;
    float: left;
    color: #444343;
}

.social-media-link {
    width: 30px;
    height: 30px;
    float: right;
    margin-top: -25px;
    cursor: pointer;
}

.footer a {
    float: right;
    margin: 0;
    padding: 0;
}

.instagram {
    margin-left: 20px;
    background-image: url("../Img/Social/Instagram.svg");
    background-position: center;
    background-size: cover;
    margin-right: 80px;
    cursor: pointer;
}

.instagram:hover {
    background-image: url("../Img/Social/Instagram.svg");
    background-position: center;
    background-size: cover;
    cursor: pointer;
}

.twitter {
    margin-left: 20px;
    background-image: url("../Img/Social/Twitter.svg");
    background-position: center;
    background-size: cover;
    cursor: pointer;
}

.twitter:hover {
    margin-left: 20px;
    background-image: url("../Img/Social/Twitter.svg");
    background-position: center;
    background-size: cover;
    cursor: pointer;
}

.facebook {
    margin-left: 20px;
    background-image: url("../Img/Social/Facebook.svg");
    background-position: center;
    background-size: cover;
    cursor: pointer;
}

.facebook:hover {
    background-image: url("../Img/Social/Facebook.svg");
    background-position: center;
    background-size: cover;
    cursor: pointer;
}

.mail {
    background-image: url("../Img/Social/Mail.svg");
    background-position: center;
    background-size: cover;
    cursor: pointer;
}

.mail:hover {
    background-image: url("../Img/Social/Mail.svg");
    background-position: center;
    background-size: cover;
    cursor: pointer;
}

.test {
    height: 100px;
    width: 500px;
    background-color: rosybrown;
}


/*____FOOTER____ */

@media (min-width: 768px) and (max-width: 1023px) {
    .con-header-M {
        height: 28vh;
    }
    /*ADDITIONAL */
    .star-rating-M {
        width: 175px;
        height: 35px;
    }
    .inner-block {
        width: 35px;
        height: 100%;
    }
    .duration-M {
        right: 7%;
    }
    .con-additional-M {
        height: 25vh;
    }
    .con-additional-M-height {
        height: 40vh;
    }
    .con-additional-M-height-large {
        height: 40vh;
    }
    .cast-M {
        height: 45px;
    }
    .cast-heigt {
        height: 80px;
    }
    .cast-heigt-large {
        height: 220px;
    }
    .cast-M h3,
    .genres-text-M {
        font-size: 14px;
    }
    .view-more-btn {
        bottom: -15%;
        right: -15%;
        font-size: 20px;
    }
    .synopsis {
        height: 5vh;
    }
    .con-syn {
        margin-top: -15%;
    }
    .synopsis-text-M {
        font-size: 17px;
    }
    /*____ADDITIONAL____ */
    /*  */
    /*  */
    /* FADE IN OF DIV */
    /* .slideIndiv {
        width: 20%;
        height: 110%;
        background-color: azure;
        position: absolute;
        bottom: -35%;
        left: 11%;
    }
    .fade-in {
        opacity: 0;
        transition: all ease-in-out 1000ms;
    }
    .fade-in-appear {
        opacity: 1;
    }
    .from-bottom {
        transform: translateY(70%);
    }
    .from-bottom {
        transition: opacity 250ms ease-in, transform 400ms ease-in;
        opacity: 0;
    }
    .from-bottom-appear {
        transform: translateY(0%);
        opacity: 1;
    } */
    /*___FADE IN OF DIV___*/
}

@media (max-width: 767px) {
    .con-header-M {
        height: 20vh;
    }
    .movie-header {
        height: 70%;
        width: 80%;
        color: #e3d1f3;
        top: 10%;
    }
    .year-M {
        margin-left: 30px;
    }
    .director-M,
    .year-M {
        font-size: 16px;
    }
    .movie-name-M {
        font-size: 50px;
    }
    .duration-M {
        right: 7%;
    }
    /*ADDITIONAL */
    .star-rating-M {
        width: 175px;
        height: 35px;
    }
    .inner-block {
        width: 35px;
        height: 100%;
    }
    .con-additional-M {
        height: 30vh;
    }
    .con-additional-M-height {
        height: 40vh;
    }
    .con-additional-M-height-large {
        height: 100vh;
    }
    .cast-M {
        height: 23px;
        width: 100%;
    }
    .inner-cast_M {
        width: 100%;
        padding: 0%;
        margin-left: 5px;
    }
    .cast-heigt {
        height: 200px;
    }
    .cast-heigt-large {
        height: 500px;
        width: 100%;
    }
    .cast-M h4 {
        font-size: 20px;
    }
    .cast-M h3 {
        font-size: 14px;
        margin-left: 68px;
        margin-top: 5px;
    }
    .genres-text-M {
        font-size: 14px;
        margin-left: 47px;
        margin-top: 7px;
    }
    .con-lang-M h4 {
        margin-top: 7px;
    }
    .lang-text-M {
        margin-left: 30px;
        font-size: 17px;
        margin-top: 10px;
    }
    .view-more-btn {
        width: 50px;
        height: 20px;
        bottom: 0%;
        right: -10%;
        font-size: 20px;
    }
    .synopsis {
        height: 10vh;
    }
    .con-syn {
        margin-top: -25%;
    }
    .synopsis-text-M {
        font-size: 12px;
    }
}