body {
    padding: 0%;
    margin: 0%;
}

.block {
    height: 100vh;
    background-color: #292929;
    margin: 0%;
    padding: 0%;
    position: relative;
    overflow: hidden;
}

.light-text {
    color: #e3d1f3;
}

.black-text {
    color: #292929;
}

.purple-text {
    color: #9F36F1;
}

.blue {
    height: 80vh;
    background-color: #292929;
    position: relative;
}

.wave {
    height: 15vh;
    background-color: #9F36F1;
    position: relative;
}


/* for the wave svg */

.custom-shape-divider-top-1634202613 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1634202613 svg {
    position: relative;
    display: block;
    width: calc(107% + 1.3px);
    height: 106px;
}

.custom-shape-divider-top-1634202613 .shape-fill {
    fill: #292929;
}


/** For tablet devices **/

@media (min-width: 768px) and (max-width: 1023px) {
    .custom-shape-divider-top-1634202613 svg {
        width: calc(125% + 1.3px);
        height: 134px;
    }
}


/** For mobile devices **/

@media (max-width: 767px) {
    .custom-shape-divider-top-1634202613 svg {
        width: calc(280% + 1.3px);
        height: 106px;
    }
}


/*____for the wave svg____*/

.knoppie-log-in {
    margin: auto;
    height: 30px;
    position: absolute;
    left: 0%;
    right: 0%;
    bottom: 10%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    transition: all ease-in-out 700ms;
}

.knoppie-sing-up {
    margin: auto;
    height: 30px;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 7%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    transition: all ease-in-out 700ms;
}


/* SIGN UP */

.form-container {
    height: 70%;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 25%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

.form-container h2 {
    font-weight: bold;
    font-size: 50px;
}

.form-container form {
    margin: auto;
    width: 100%;
    height: 65%;
    display: flex;
    flex-direction: column;
}

input {
    width: 100%;
    margin: auto;
    padding: 15px;
    border: none;
    outline: none;
    background-color: #eee8f3;
}

.from-btn {
    margin: auto;
    margin-top: 50px;
    background-color: #9F36F1;
    width: 30%;
    height: 40px;
    border-radius: 15px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: #292929;
}


/*____SIGN UP____*/


/* LOG IN */

.red {
    background-color: #9F36F1;
    height: 95vh;
    position: absolute;
    bottom: -12%;
    padding: 0 !important;
    /* margin-left: 0 !important;
    margin-right: 0 !important; */
    text-align: center;
    transition: all ease-in-out 700ms;
}

.red-slide {
    margin-bottom: -35%;
}

.log-in-form-container {
    position: absolute;
    height: 50%;
    left: 0%;
    right: 0%;
    top: 25%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.log-in-form-container h2 {
    font-weight: bold;
    font-size: 50px;
}

.login-inner {
    width: 80%;
    height: 30%;
    margin-top: 50px;
}

.log-in-form-container input {
    width: 80%;
    margin: auto;
    padding: 15px;
    border: none;
    outline: none;
    background-color: #eee8f3;
}

.log-in-from-btn {
    margin-top: 50px;
    background-color: #292929;
    width: 45%;
    height: 40px;
    border-radius: 15px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: #9F36F1;
}


/*____LOG IN____*/

@media (min-width: 768px) and (max-width: 1023px) {
    /* SIGN UP */
    .form-container {
        height: 80%;
        position: absolute;
        left: 0%;
        right: 0%;
        top: 15%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
    }
    .form-container form {
        width: 40%;
        height: 50%;
    }
    .from-btn {
        margin-top: 100px;
        width: 22%;
        height: 40px;
        font-size: 30px;
    }
    /*___SIGN UP___*/
    /* Log in */
    .red {
        bottom: -5%;
    }
    .log-in-form-container {
        position: absolute;
        height: 80%;
        left: 0%;
        right: 0%;
        top: 25%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .red-slide {
        margin-bottom: -70%;
    }
    /*____log in____*/
}

@media (max-width: 767px) {
    /* SIGN UP */
    .form-container {
        height: 80%;
        position: absolute;
        left: 0%;
        right: 0%;
        top: 15%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
    }
    .form-container form {
        width: 50%;
        height: 50%;
    }
    .from-btn {
        margin-top: 200px;
        width: 30%;
        height: 40px;
        font-size: 25px;
    }
    /*___SIGN UP___*/
    /* Log in */
    .red {
        bottom: -5%;
    }
    .red-slide {
        margin-bottom: -85%;
    }
    .log-in-form-container input {
        width: 100%;
    }
    /*____log in____*/
}