body {
    margin: 0;
    padding-left: 0;
}

.navbar{
    background-color: #292929;
    position: relative;
    padding-left: 80px;
    padding-right: 80px;
}

.collapse{
    position: relative;
    padding-left: 240px;
}

.logo{
    position: absolute;
}

.search-bar{
    border-radius: 17px;
    height: 35px;
    border: 2px #9F36F1 solid;
    background-color: transparent;
}

.header-con{
    height: 700px;
    background-color: #444343;
    position: relative;
}

