body {
    margin: 0;
    padding-left: 0;
}


/* Header Styling */

.content {
    background-color: #292929;
}

.navbar {
    background-color: #292929;
    position: relative;
    padding-left: 80px;
    padding-right: 80px;
    position: relative;
}

.collapse {
    position: relative;
    padding-left: 300px;
}

a.logo {
    position: absolute;
    margin-left: -30px;
    cursor: pointer;
}

.search-bar {
    border-radius: 17px;
    height: 30px;
    border: 2px #9F36F1 solid;
    background-color: transparent;
}

.header-con {
    height: 600px;
    background-color: #9F36F1;
    position: relative;
}

h1 {
    padding-top: 15%;
    margin-left: 80px;
}

h2 {
    margin-left: 80px;
}


/* Filter dropdown styling */

.filter-dropdowns {
    justify-content: center;
    display: flex;
    margin-top: -20px;
}

.dropdown {
    border: none;
    border-radius: 3px;
    height: 40px;
    background-color: #444343;
    margin-right: 10px;
    top: -20px;
    outline: none;
    color: white;
    padding: 5px 2px;
}

h3 {
    margin-left: 80px;
    color: white;
    padding-top: 50px;
}


/* card-styling */

.carosel-container {
    position: relative;
}

.carosel-inner {
    position: relative;
    overflow: hidden;
    white-space: nowrap;
}

.item {
    margin-bottom: 80px;
    position: relative;
    display: flex;
}

.card {
    margin-left: 0;
    margin-right: 1%;
    
}

.star-rating-M {
    width: 250px;
    height: 50px;
}

.inner-block {
    width: 50px;
    height: 100%;
    float: left;
}

.button {
    width: 30px;
    height: 30px;
    margin-left: -10px;
    float: left;
    margin-right: 10px;
}

.like {
    background-image: url("../Img/Icons/heart.svg");
    background-position: center;
    background-size: cover;
    margin-top: 10px;
    margin-left: 1px;
}

.like:hover {
    background-image: url("../Img/Icons/heart-hover.svg");
    background-position: center;
    background-size: cover;
}

.info {
    background-color: #292929;
    color: white;
    width: 100px;
    padding: 5px 2px;
    text-align: center;
    float: left;
    border-radius: 3%;
    margin-top: 8px;
    cursor: pointer;
    text-decoration: none;
}

a.info:hover{   
    text-decoration: none;
    color: white;
    background-color: #9F36F1;
}

.card-body,
.img_con {
    background-color: #444343;
}

.movie-title {
    color: white;
}

.movie-container {
    padding-left: 80px;
    padding-right: 80px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}


/* Footer */

.footer {
    height: 120px;
    margin-top: 50px;
}

.footer h5 {
    font-family: source-sans-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    margin-left: 80px;
    margin-top: 50px;
    float: left;
    color: #444343;
}

.social-media-link {
    width: 30px;
    height: 30px;
    float: right;
    margin-top: 25px;
    cursor: pointer;
}

.footer a {
    float: right;
    margin: 0;
    padding: 0;
}

.instagram {
    margin-left: 20px;
    background-image: url("../Img/Social/Instagram.svg");
    background-position: center;
    background-size: cover;
    margin-top: 25px;
    margin-right: 80px;
    cursor: pointer;
}

.instagram:hover {
    background-image: url("../Img/Social/Instagram.svg");
    background-position: center;
    background-size: cover;
    cursor: pointer;
}

.twitter {
    margin-left: 20px;
    background-image: url("../Img/Social/Twitter.svg");
    background-position: center;
    background-size: cover;
    cursor: pointer;
}

.twitter:hover {
    margin-left: 20px;
    background-image: url("../Img/Social/Twitter.svg");
    background-position: center;
    background-size: cover;
    cursor: pointer;
}

.facebook {
    margin-left: 20px;
    background-image: url("../Img/Social/Facebook.svg");
    background-position: center;
    background-size: cover;
    cursor: pointer;
}

.facebook:hover {
    background-image: url("../Img/Social/Facebook.svg");
    background-position: center;
    background-size: cover;
    cursor: pointer;
}

.mail {
    background-image: url("../Img/Social/Mail.svg");
    background-position: center;
    background-size: cover;
    cursor: pointer;
}

.mail:hover {
    background-image: url("../Img/Social/Mail.svg");
    background-position: center;
    background-size: cover;
    cursor: pointer;
}

.col-breaker {
    display: inline-block !important;
    width: 20%;
}

.card {
    width: 100% !important;
}

.rating-block {
    display: inline-block;
}