.cw_purple_bg {
    background-color: #9F36F1 !important;
}

.cw_purple_text {
    color: #9F36F1 !important;
}

.cw_gray_bg {
    background-color: #444343 !important;
}

.cw_gray_text {
    color: #444343 !important;
}

.cw_dark_bg {
    background-color: #292929 !important;
}

.cw_dark_text {
    color: #292929 !important;
}

.cw_dark_bg {
    background-color: #292929 !important;
}

.cw_dark_text {
    color: #292929 !important;
}