body {
    margin: 0;
    padding: 0;
}

.content{
    background-color: #292929;
}

.navbar{
    background-color: #292929;
    position: relative;
    padding-left: 80px;
    padding-right: 80px;
}


.collapse{
    position: relative;
    padding-left: 300px;
}

.logo{
    position: absolute;
    margin-left: -30px;
}

.search-bar{
    border-radius: 17px;
    height: 30px;
    border: 2px #9F36F1 solid;
    background-color: transparent;
}

h1{
    padding-top: 200px;
    color: white;
    margin-left: 80px;
}

/* card styling */
.movie-container{
    padding-left: 80px;
    padding-right: 80px;
}

.card{
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 50px;
}

.button{
    width: 50px;
    height: 50px;
    float: right;
    margin-top: -14px;
    margin-right: -10px;
}

.like{
    background-image: url("../Img/Icons/heart.svg");
    background-position: center;
    background-size: cover;
}

.movie-dropdown{
    background-image: url("../Img/Icons/options.svg");
    background-position: center;
    background-size: cover; 
}

.add{
    background-image: url("../Img/Icons/plus.svg");
    background-position: center;
    background-size: cover; 
}

.card-body, .img_con{
    background-color: #444343;
}

.movie-title{
    color: white;
    float: left;
}

/* footer-styling */
/* Footer */
.footer{
    height: 40px;
    margin-top: 50px;
}

.footer h5{
    font-family: source-sans-pro,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    margin-left: 80px;
    margin-top: -25px;
    float: left;
    color: #444343;
}

.social-media-link{
    width: 30px;
    height: 30px;
    float: right;
    margin-top: -25px;
    cursor: pointer;
}

.footer a{
    float: right;
    margin: 0;
    padding: 0;
}

.instagram {
    margin-left: 20px;
    background-image: url("../Img/Social/Instagram.svg");
    background-position: center;
    background-size: cover;
    margin-right: 80px;
    cursor: pointer;
}

.instagram:hover {
    background-image: url("../Img/Social/Instagram.svg");
    background-position: center;
    background-size: cover;
    cursor: pointer;
}

.twitter{
    margin-left: 20px;
    background-image: url("../Img/Social/Twitter.svg");
    background-position: center;
    background-size: cover;
    cursor: pointer;
}

.twitter:hover{
    margin-left: 20px;
    background-image: url("../Img/Social/Twitter.svg");
    background-position: center;
    background-size: cover;
    cursor: pointer;
}

.facebook{
    margin-left: 20px;
    background-image: url("../Img/Social/Facebook.svg");
    background-position: center;
    background-size: cover;
    cursor: pointer;
}

.facebook:hover{
    background-image: url("../Img/Social/Facebook.svg");
    background-position: center;
    background-size: cover;
    cursor: pointer;
}

.mail{
    background-image: url("../Img/Social/Mail.svg");
    background-position: center;
    background-size: cover;
    cursor: pointer;
}

.mail:hover{
    background-image: url("../Img/Social/Mail.svg");
    background-position: center;
    background-size: cover;
    cursor: pointer;
}